@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Water+Brush&display=swap');
.my-style{
    font-family: 'Water Brush', cursive;
}

.title{

    margin: 0 auto;
    width: 100%;
    max-width: 40rem;
    font-size: 4rem;
    text-align: center;
}

.card {

    width: 100%;
    max-width: 400px;
    padding: 2rem 2.5rem;

    border-radius: 1rem;
    border: 1px solid transparent;

    transition: transform 0.2s ease;
    backdrop-filter: blur(1rem);
    box-shadow: 1.3rem 1.3rem 1.3rem  rgba(0, 0, 0, 0.5);

}
.my-Card {

    width: 100%;
    padding: 2rem 2.5rem;

    border-radius: 1rem;
    border: 1px solid transparent;

    transition: transform 0.2s ease;
    backdrop-filter: blur(1rem);
    box-shadow: 1.3rem 1.3rem 1.3rem  rgba(0, 0, 0, 0.5);

}

.myAccordion{

    background-color: blue;
    opacity: 50% ;
}
.myForm{
    

        /* width: 100%;
        max-width: 400px;
        padding: 2rem 2.5rem; */
    
        border-radius: 1rem;
        border: 1px solid transparent;
    
        transition: transform 0.2s ease;
        backdrop-filter: blur(1rem);
        box-shadow: 1.3rem 1.3rem 1.3rem  rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1rem);}

.card:hover{

    transform: scale(1.1);
}

.myOwn:hover{

    transform: scale(1.1);
}

.cb1 {
    background-color: rgba(225, 225, 225, 0.1);
}

body{

    background-image: url(/assets/slider/3.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    /* color: white; */
}



/* Back to To Btn Start Here */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #555; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    border: 2px solid black;
  }
  
  #myBtn:hover {
    background-color: #fefefe; /* Add a dark-grey background on hover */
    color: black;
  }
/* Back to To Btn End Here */